footer {
<<<<<<< HEAD
	position: fixed;
	bottom: 0;
	background-color: white;
	height: 60px;
	width: 100%;
	text-align: center;
	line-height: 30px;
	border-top: 1px solid #CCCCCC;
=======

    background-color: white; 
    height: 60px; 
    width: 100%;
    border-top: 1px solid #575757;  
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    bottom: 0;
    
}
>>>>>>> 5e789adeba12a247cb15b0d83d237da77d93750d
